#universal{
    background-color: #ADEED9;
    color:black;
    position:relative;
    overflow:hidden;
    height:100vh;
    display:flex;
    flex-direction: column;
}
#title{
    text-align: center;
    color:blue;
}
#start{
    position: relative;

}
#place{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
#id3{
    height:300px;
    width: 100%;
    object-fit: fill;
    padding:15px;
    border-radius: 5px;
    filter: brightness(60%);
}
#id4{
    color:#fff;
    font-size: 50px;
    position:absolute;    
    top: 20%;
    left:10% 
}
#id5{
    color:#fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left :30%;
}
#id6{
    position: absolute;
    top: 70%;
    left:40%;
    background-color: green;
    color: #fff;
}
.main{
    height:500px;
    text-align: center;
    margin:50px 200px;
    border-radius: 5px;
    background-color:#fff;
    position: relative;
    overflow-y:auto;
    height:100vh;
}
#v1{
    height: 500px;
}
.image{
    height: 200px;
    width: 600px;
}
#center{
    text-align: center;
}
.c3{
    text-align:left;
    margin-left: 8px;;
}
#id1{
    background-color: aquamarine;
    color:#fff;
    margin-left: 65px;
    
}
table{
    text-align: center;
    margin-left: 50px;
    margin-top: 4px;
}
.hovered{
    color: blue;
}
.button{
    background-color: green;
    color: #fff;
}
