#change{
    background-color: #007bff;
    color: #fff;
    height: 70px;
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0%;
    padding: 15px 20px;
    z-index: 999;
    font-size: 22px;
}
@media(min-width:200px)and (max-width:768px){
    #change{
        display: none;
        flex-direction: column;
        position: absolute;
        top:60%;
        left:30%;
    }
}
.c1{
    display: flex;
    justify-content: end;
    padding-left: 20px;
}
a{
    color:#fff;
    padding: 15px 20px;
}

button{
    height:35px;
    background-color:green;
    color: #fff;  
    text-align: center; 
    padding: 5px 10px;
}
