footer{
    height: 100px;
    background-color: grey;
    color: #fff;
    text-align: center;
    position: sticky;
}
#chat{
    height: 80px;
    position:fixed;
    right: 20px;
    bottom: 120px;
    border-radius: 50%;
    background-color: #52d2d5;
}
#image{
    height:60px;
    width: auto;
}